@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav {
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    left: -55px;
}

.links {
    width: 570px;
    display: flex;
    height: 100%;
}



.links_burger {
    display: none;
}

.links_element {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    width: calc(100%/5);
    padding-top: 34px;
    padding-bottom: 31px;
    transition-duration: .3s;
}

.links_element:hover {
    background-color: #EC7979;
}

.links_element:active {
    background-color: #AB4949;
}

.fon {
    background: rgba(0, 0, 0, 0.50);
    background-blend-mode: overlay;
    background-image: url("../assets/images/fon.png");
    background-repeat: no-repeat;
	background-size: cover;
    padding: 283px 0 185px 0;
}

.meet_screen {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.meet_screen_info {
    display: flex;
    flex-direction: column;
}

.meet_screen_info img{
    margin-bottom: 51px;
    width: 270px;
    height: 100px;

}

.first_title {
    position: relative;
    color: #FFF;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 55px;
    margin-bottom: 42px;
}

.first_title::before {
    position: absolute;
    content: "";
    bottom: 0;
    background-color: #FFF;
    width: 170px;
    height: 1px;
}

.meet_screen_info p {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    width: 270px;
    margin-bottom: 42px;
}   

.btn {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #FFF;
    background: transparent;
    width: 270px;
    height: 58px;
    transition-duration: .3s;
}

.btn:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.btn:active {
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFF;
}

.meet_form {
    background: #FFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 470px;
    height: 100%;
    gap: 75px;
}

.meet_form_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 29px 50px 0px 50px;
    gap: 73px;
}

.form_input_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 33px;
}

.meet_form_input_element input{
    border: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    min-height: 38px;
    width: 100%;
    font-size: 16px;
}

.meet_form_input_element input::placeholder {
    position: relative;
    top: -5px;
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

.meet_form_input_element input:focus::placeholder {
    opacity: 0;
}

.form_title {
    color: #333;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.form_title span {
    color: #EC7979;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.title_form_btn {
    color: #FFF;
    border: none;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    background: #EC7979;
    width: 100%;
    height: 60px;
    transition-duration: .3s;
}

.title_form_btn:hover {
    background: #AB4949;
}

.title_form_btn:active {
    background: #EC7979;
}

.social_media {
    background-color: #F8EFEF;
    padding-top: 14px;
    padding-bottom: 18px;
}

.wrapper_social_media {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.social_media_icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social_media_icons a svg{
    fill: #CCCCCC;
    transition-duration: .3s;
}

.social_media_icons a:nth-child(1):hover svg {
    fill: #680ae2;
    stroke: white;
    transform: skew(5deg, 10deg);
}

.social_media_icons a:nth-child(2):hover svg {
    fill: rgb(56, 161, 237);
    stroke: hsl(131, 64%, 75%);
    transform: translateX(10px) rotate(10deg) translateY(10px);
}

.social_media_icons a:nth-child(3):hover svg {
    fill: hwb(296 35% 23%);
    stroke: hsl(76, 68%, 72%);
    transform: rotate(30deg);
}

.social_media_icons a:nth-child(4):hover svg {
    fill: #ec5d94;
    stroke: #AB4949;
    transform: translate(-10px, 10px) rotate(20deg) scale(1.2);
}

.social_media_icons a:nth-child(5):hover svg {
    fill: #e0075e;
    stroke: #AB4949;
    transform: skew(5deg, 10deg);
}

.social_media_icons a:nth-child(6):hover svg {
    fill: black;
    stroke: white;
    transform: scale(1.5);
}

.social_media_icons a:nth-child(7):hover svg {
    fill: hsl(163, 98%, 48%);
    stroke: white;
    transform: skew(5deg, 10deg);
}

.social_media_info h4{
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 31px;
}

.social_media_info p{
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.information {
    padding-top: 99px;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.tabs {
    display: flex;
}

.tabs-el{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 184px;
    color: #333;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    top: 1px;
    min-height: 40px;
}

.tabs-el.active{
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid #ffffff;
    width: 203px;
}

.main-content{
    display: flex;
    gap: 30px;
    border: 1px solid #C6CBCD;
    z-index: -1;
}

.content{
    padding-top: 42px;
    padding-bottom: 54px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.title-tabs{
    color: #000;
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 68px;
    display: flex;
    align-items: center;

}

.main-text{
    color: #000;
    font-family: Raleway;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 27px;
}

.download-button{
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    background-color: #EC7979;
    border: 0;
    height: 58px;
    width: 270px;
    transition-duration: .3s;
}

.download-button:hover {
    background: #AB4949;
}

.download-button:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

.line {
    border: 1px solid #EC7979;
    width: 177px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.head p{
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 71px;    
}
.cards {
    display: flex;
    text-align: center;
    gap: 30px;
}

.cards_element h4{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 41px;
}

.cards_element img {
    margin-bottom: 34px;
}


.cards_element p{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.about-us {
    padding-top: 104px;
    padding-bottom: 58px;
}

.pricing {
    padding-top: 104px;
    padding-bottom: 50px;
    background: #F5F5F5;
}

.title {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;  
    text-transform: uppercase;
    margin-bottom: 54px;
}

.line {
    border: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.subtitle {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 79px;
}

.card-block{
    display: flex;
    flex-direction: row;
    gap: 31px;
}

.card {
    width: 100%;
    transition-duration: .3s;
}

.card:hover{
    position: relative;
    bottom: 20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
}

.card-title {
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-price {
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    background-color: #333333;
    border: 2px solid #F5F5F5;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-subtitle {
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #F5F5F5;
    background: #333;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-list-el {
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #F5F5F5;
    background: #FFFFFF;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers {
    padding-top: 104px;
    padding-bottom: 64px;
}

.title-section{
    position: relative;
    text-align: center;
    padding-bottom: 54px;
}
  
.title-section:before{
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #EC7979;
    bottom: 0;
    left: calc(50% - 85px);
}

.comments {
    display: flex;
    gap: 30px;
}

.comments_element {
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    padding: 38px 23px 37px 24px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}

.comments_element:before {
    position: absolute;
    content: "";
    top: 100%;
    left: 70px;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
}

.personal {
    display: flex;
    justify-content: space-between;
}

.personal_element {
    display: flex;

}

.pict {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float:left;
    object-fit: cover;
}

.name {
    color: #000;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
    margin-bottom: 15px;
}

.position {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.personal_element_info {
    margin-left: 30px;
}

.stylish{
    background: rgba(0, 0, 0, 0.50);
    background-image: url("../assets/images/town.jpg");
    background-blend-mode: overlay;
    background-repeat: no-repeat;
	background-size: cover;
    padding-top: 104px;
    padding-bottom: 50px;
    background-position: center;
}

.wrapper_stylish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stylish_title {
    position: relative;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 54px;
    margin-bottom: 40px;
}

.stylish_title::before {
    position: absolute;
    content: "";
    width: 170px;
    height: 1px;
    background: #FFF;
    bottom: 0;
    left: calc(50% - 85px);
}

.stylish_subtitle {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 73px;
}

.stylish_btn {
    color: #FFF;
    border: 2px solid #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    width: 370px;
    height: 58px;
    transition-duration: .3ss;
}

.stylish_btn:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.stylish_btn:active {
    border: 2px solid #AB4949;
    background: #AB4949;
    color: #FFF;
}

.contact_us {
    padding: 104px 0 50px 0;
}

.contact_us_form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.contact_us_form_main {
    display: flex;
    gap: 30px;
    width: 100%; 
}

.form_input,
.form_message {
    /*width: calc((100% - 30px) / 2);*/
    width: 100%;
}

.form_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_input_element {
    display: flex;
    flex-direction: column;
}

.form_message {
    display: flex;
    flex-direction: column;
}

.form_input_element label,
.form_message label {
    color: #BDBDBD;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

.form_input_element input,
.form_message textarea {
    outline: none;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
    min-height: 16px;

}

.form_btn {
    width: 370px;
    height: 58px;
    background: #EC7979;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition-duration: .3s;
}

.form_btn:hover {
    background: #AB4949;
}

.form_btn:active {
    background: #EC7979;
    box-shadow: 0px 0px 10px 0px #AB4949 inset;
}

footer {
    background-color: #000;
    padding: 35px 0 27px 0;
}

.footer_icons{
    display: flex;
    justify-content: center;
    gap: 32.8px;
}

.footer_text {
    margin-top: 27.8px;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1300px) {
    .logo {
        left: 0;
        padding-left: 115px;
    }
}

@media (max-width: 1024px) {
    
    .meet_screen_info {
        padding-left: 100px;
    }

    .meet_screen_info img {
        width: 183px;
        height: 75px;
        margin-bottom: 37px;
    }

    .meet_screen_info p {
        margin-bottom: 31px;
        font-size: 14px;
    }

    .meet_screen {
        gap: 36px;
    }

    .first_title {
        font-size: 36px;
        padding-bottom: 41px;
        margin-bottom: 31px;
    }

    .meet_form {
        min-width: 360px;
    }

    .fon_wrapper {
        padding-right: 20px;
    }

    .fon {
        padding-top: 212px;
        padding-bottom: 106px;
    }

    .btn {
        width: 183px;
        height: 50px;
    }

    .social_media {
        padding-top: 12px;
        padding-bottom: 13px;
    }

    .wrapper_social_media {
        padding: 0 16px;
        gap: 20px;
    }

    .social_media_info h4 {
        font-size: 18px;
        margin-bottom: 23px;
    }

    .social_media_info p {
        font-size: 14px;
    }

    .social_media_icons a svg {
        width: 64px;
        height: 64px;
    }

    .information {
        padding-top: 50px;
    }

    .content {
        padding: 28px 26px 50px 85px;
    }

    .title-tabs {
        font-size: 24px;
        margin-bottom: 66px;
    }

    .main-text {
        font-size: 14px;
        margin-bottom: 38px;
    }

    .download-button {
        width: 232px;
    }

    .main-content img {
        width: 398px;
        height: 385px;
    }

    .tabs-el {
        width: 156px;
    }

    .tabs-el:first-child {
        width: 172px;
    }

    .about-us {
        padding-top: 96px;
        padding-bottom: 60px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 46px;

    }

    .head p {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .line {
        width: 142px;
        margin-bottom: 32px;
    }

    .cards_element img {
        width: 147px;
        height: 147px;
        margin-bottom: 29px;
    }

    .cards_element h4 {
        font-size: 18px;
        margin-bottom: 37px;
    }

    .cards {
        gap: 20px;
    }

    .cards_element p {
        font-size: 14px;
    }

    .pricing {
        padding-top: 96px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .card-block {
        gap: 20px;
    }

    .card-title {
        min-height: 53px;
    }

    .card-price {
        min-height: 88px; 
    }

    .card-subtitle {
        min-height: 44px;
    }

    .card-list-el {
        min-height: 44px;
    }

    .card:hover {
        bottom: 17px;
    }

    .customers {
        padding-top: 96px;
        padding-bottom: 57px;
    }

    .title-section {
        padding-bottom: 46px;
    }

    .title-section::before {
        width: 142px;
        left: calc(50% - 71px);
    }

    .customers_subtitle {
        margin-bottom: 32px;
    }

    .comments {
        gap: 20px;
    }

    .comments_element {
        font-size: 14px;
        padding: 50px 33px 50px 32px;
    }

    .pict {
        width: 63px;
        height: 63px;
    }

    .personal_element_info {
        margin-left: 22px;
    }

    .name {
        font-size: 18px;
    }

    .position {
        font-size: 14px;
    }

    .stylish {
        padding-top: 96px;      
    }

    .stylish_title {
        font-size: 24px;
        padding-bottom: 46px;
        margin-bottom: 32px;
    }

    .stylish_title::before {
        width: 142px;
        left: calc(50% - 71px);
    }

    .stylish_subtitle {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .stylish_btn {
        width: 318px;
    }

    .contact_us {
        padding-top: 96px;
    }

    .contact_us_subtitle {
        margin-bottom: 72px ;
    }

    .contact_us_form_main {
        gap: 20px;
    }

    .form_btn {
        width: 318px;
    }

    footer {
        padding-bottom: 30px;
    }

    .footer_icons {
        gap: 27px;
    }

    .footer_icons a svg {
        width: 45px;
        height: 45px;
    }

    .footer_text {
        font-size: 14px;
    }
}

@media (max-width: 969px) {
    .main-content img {
        display: none;
    }
}

@media (max-width: 800px) {
    .meet_screen {
       flex-direction: column; 
    }

    .meet_form {
        min-width: 100%;
    }

    .meet_screen_info {
        align-items: center;
        padding-left: 0;
    }

    .meet_screen_info img {
        display: none;
    }

    .title-tabs {
        margin-bottom: 35px;
    }

    .content {
        padding-left: 30px;
    }

    .first_title {
        text-align: center;
    }

    .first_title::before {
        width: 134px;
        left: calc(50% - 67px);
    }

    .meet_screen_info p {
        text-align: center;
    }

    .wrapper_social_media {
        flex-direction: column;
        align-items: center;
    }

    .social_media_info h4 {
        text-align: center;
    }

    .social_media_info p {
        text-align: center;
    }

    .social_media_icons {
        gap: 20px;
    }
}

@media (max-width: 630px) {
    .links {
        display: none;
    }

    .links_burger {
        display: flex;
        padding-right: 35px;
    }

    .cards {
        flex-direction: column;
    }

    .card-block {
        flex-direction: column;
    }

    .card:hover {
        position: static;
    }

    .comments {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        width: 100%;
    }

    .comments_block {
        flex: none;
        scroll-snap-align: start;
        width: 100%;
    }

    .social_media_icons a svg {
        width: 35px;
        height: 35px;
    }

    .contact_us_form_main {
        flex-direction: column;
    }

    .form_input {
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .footer_icons a svg {
        width: 30px;
        height: 30px;
    }

    .logo {
        padding-left: 0;
    }

    .footer_icons {
        gap: 18px;
    }

    .social_media_icons {
        gap: 12px;
    }
}

@media (max-width: 320px) {
    .logo img {
        width: 130px;
    }

    .header_wrapper {
        padding-left: 20px;
        padding-right: 35px;
    }

    .links_burger {
        padding-right: 0;
    }

    .fon {
        padding-top: 140px;
        padding-bottom: 50px;
    }

    .first_title {
        padding-bottom: 44px;
        margin-bottom: 42px;
    }

    .meet_screen_info p {
        margin-bottom: 42px;
    }

    .btn {
        width: 288px;
    }

    .meet_screen {
        gap: 56px;
    }

    .form_title {
        font-size: 14px;
    }

    .form_title span {
        font-size: 14px;
    }

    .meet_form_input {
        padding: 36px 28px 0 20px;
        gap: 35px;
    }

    .meet_form {
        gap: 51px;
    }

    .fon_wrapper {
        padding-right: 16px;
        padding-left: 16px;
    }

    .social_media {
        padding-top: 41px;
        padding-bottom: 44px;
    }

    .social_media_icons a svg {
        width: 26px;
        height: 26px;
    }

    .social_media_icons {
        gap: 17px;
    }

    .information {
        padding-top: 41px;
    }

    .tabs-el {
        width: 93px;
    }

    .tabs-el:first-child {
        width: 103px;
    }

    .content {
        padding: 44px 20px 30px 25px;
    }

    .title-tabs {
        text-align: center;
        margin-bottom: 65px;
        font-size: 18px;
    }

    .main-text {
        text-align: center;
        margin-bottom: 29px;
        font-size: 13px;
    }

    .download-button {
        width: 242px;
        height: 50px;
    }

    .about-us {
        padding-top: 50px;
    }

    .title {
        font-size: 18px;
        margin-bottom: 49px;
    }

    .line {
        width: 134px;
        margin-bottom: 25px;
    }

    .wrapper {
        padding: 0 16px;
    }

    .head p {
        font-size: 13px;
        margin-bottom: 50px;
    }

    .cards {
        gap: 10px;
    }

    .pricing {
        padding-top: 46px;
        padding-bottom: 26px;
    }

    .pricing_title {
        font-size: 24px;
        margin-bottom: 46px;
    }

    .subtitle {
        margin-bottom: 24px;
    }

    .card-block {
        gap: 27px;
    }

    .card-title {
        min-height: 47px;
        font-size: 18px;
    }

    .card-price {
        min-height: 78px;
        font-size: 24px;
    }

    .card-subtitle {
        min-height: 39px;
        font-size: 14px;
    }

    .card-list-el {
        min-height: 39px;
        font-size: 14px;
    }

    .customers {
        padding-top: 38px;
        padding-bottom: 31px;
    }

    .title-section {
        padding-bottom: 38px;
        margin-bottom: 27px;
        font-size: 24px;
    }

    .title-section::before {
        width: 134px;
        left: calc(50% - 67px);
    }

    .comments_element {
        padding: 50px 22px 52px 19px;
        margin-bottom: 62px;
    }

    .pict {
        width: 57px;
        height: 57px;
    }

    .name {
        font-size: 14px;
        padding-bottom: 0;
        margin-bottom: 22px;
    }

    .position {
        font-size: 13px;
        padding-bottom: 32px;
    }

    .stylish {
        padding-top: 50px;
        padding-bottom: 58px;
    }

    .stylish_title {
        padding-bottom: 52px;
        margin-bottom: 16px;
    }

    .stylish_title::before {
        width: 134px;
        left: calc(50% - 67px);
    }

    .stylish_subtitle {
        margin-bottom: 66px;
    }

    .stylish_btn {
        width: 287px;
        height: 50px;
    }

    .contact_us {
        padding-top: 46px;
        padding-bottom: 40px;
    }

    .contact_us_title {
        padding-bottom: 46px;
        margin-bottom: 24px;
    }

    .contact_us_subtitle {
        margin-bottom: 64px;
    }

    .form_input {
        gap: 50px;
    }

    .contact_us_form_main {
        gap: 50px;
    }

    .form_btn {
        width: 288px;
        height: 50px;
    }

    .footer_icons a svg {
        width: 26px;
        height: 26px;
    }

    .footer_icons {
        gap: 17px;
    }

    .footer_text {
        margin-top: 42px;
    }
}

